.about{
   
    height: 600px;
}
.about-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 100px;
   
}

.about-cover{
    border: 2px solid white;
    height: 400px;
    width: 400px;
    margin: 60px 70px 30px 100px;
    object-fit: cover;
}

.lorem{
    text-align: justify;
    margin: 55px 100px 25px 5px ;
    font-size:2em;
    color: white;
    
} 
.about-data{
    display: flex;
}




@media only screen and (min-width: 200px) and (max-width: 512px) {
    .about-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 10px;
       
    }

    .about-data{
        display: block;
        text-align: center;
    }

     .about-cover{
        
       width: 300px;
       height: 300px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       margin-top: 20px;
      
    }
    
    .lorem{
        text-align: justify;
        margin: 0 30px;
        color: white;
       
    } 
   
        
     }