.about{
   
    height: 600px;
}
.about-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 100px;
   
}

.about-cover{
    border: 2px solid white;
    height: 400px;
    width: 400px;
    float: left;
    margin: 60px 70px;
    object-fit: cover;
}
.lorem{
    text-align: justify;
    margin: 50px 150px 0 5px ;
    font-size:2em;
    color: white;
    
}


@media only screen and (min-width: 200px) and (max-width: 512px) {
    .about-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 10px;
       
    }

    .about-cover{
        
        width: 98%;
        margin-top: 20px;
        margin-left: 3;
        object-fit: cover;
        border: 2px solid white;
        height: 300px;
    }
    .lorem{
        text-align: justify;
        margin: 0 30px;
        color: white;
    }
   
        
     }