
.cover{
    background-image: url('image/cover.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    
} 

.cover-content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.cover-content h1{
    margin-top: 10px;
    font-size: 6em;
}
.cover-content img{
    width: 700px;
    margin-top: 10px;
} 


 @media only screen and (min-width: 200px) and (max-width: 512px) {
    
.cover{
    background-image: url('image/cover-mobile.png');
    width: 100%;
    height:200px;
    background-size: contain;
    background-repeat: no-repeat;
    
} 

.cover-content{
    width: 100%;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.cover-content h1{
    margin-top: 0px;
    font-size: 1.5em;
}
.cover-content img{
    width: 175px;
    margin-top: 0px;
} 
    
 }

