.event-main{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.event-title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 50px;
}

.event-cards{
    width: 373px;
    height: 446px;
    border: 1.5px solid white;
    margin-top:50px ;
}

.event-image img{
    width: 370px;
    height: 356px;
    object-fit: cover;
}

.event-heading{
    color: white;
    text-align: center;
    padding: 28px;
    width: 370;
    height: 88px;
    background-color: #491f9f;
    font-size: 1.5em;
}


@media only screen and (min-width: 200px) and (max-width: 567px) {

    .event-title{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 880px;
       
    }
    .event-main{
        display: grid;
        justify-content: center;
    }

    .event-cards{
        width: 300px;
        height: 328px;
        border: 1px solid white;
        margin-top:30px;
    }

    .event-image img{
        width: 298px;
        height: 270px;
        object-fit: cover;
    }

    .event-heading{
        color: white;
        text-align: center;
        /* padding: 28px; */
        width: 298px;
        height: 25px;
        background-color: #491f9f;
        font-size: 1em;
        line-height: 10%;
    }
}
