.scrollTop{
  position: fixed;
  bottom: 800px;
  right: 40px;
  width: 45px;
  height: 45px;
  background: #491f9f url(image/up.png);
  background-size: 30px;
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: center;
  cursor: pointer;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active{
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
